go 1.21

use (
	./utils
	./conf
	./log
	./tls
	./ginx
	./gormx
	./sqlx
	./websocket
	./etcd
	./cache
	./metrics
    ./validator
    ./jwtx
    ./pagination
    ./concurrency
    ./trace
    ./redisx
    ./ratelimit
    ./zlog
    ./stringx
    ./slogx
    ./encoding
    ./config
    ./mediator
    ./got
    ./bash
    ./prof
    ./codegen
    ./mongo
    ./ws
    ./grpcx
    ./algo
    ./wechat
    ./collection
	./timex
	./lang
	./syncx
	./mathx
	./task
	./elasticsearch
	./mq
	./printer
	./retry
	./errorsx
	./templatex
	./id
	./idempotent
	./authx
	./atomicx
	./errx
	./logic
	./mapx
	./cast
	.
)
