go 1.21

use (
	./utils
	./conf
	./log
	./tls
	./ginx
	./gormx
	./sqlx
	./websocket
	./etcd
	./cache
	./metrics
    ./validator
    ./jwtx
    ./cryptox
    ./pagination
    ./concurrency
    ./trace
    ./redisx
    ./ratelimit
    ./zlog
    ./stringx
    ./slogx
    ./encoding
    ./config
    ./mediator
    ./http_client
    ./bash
    ./prof
    ./codegen
    ./mongo
    ./ws
    ./grpcx
    ./algo
    ./wechat
    ./collection
	./timex
	./lang
	./syncx
	./mathx
)
